html, body {
	height:100%
}


.ctrl-panel {
	height: calc(100% - 0.6vw);
	padding: 0.3vw;
	
	display: flex;
	flex-direction: column;
}

.ctrl-button-row {
	flex: 1;
	display: flex;
	flex-direction: row;
}

.ctrl-button {
	flex: 1;
	
	padding: 0.3vw;
}

.ctrl-button button {
	width: 100%;
	height: 100%;
}
